$dark-grey: #222222;
$white: #fff;
$grey: #a19b8f;

:root {
  --root-primary-color: #59bebb;
  --root-primary-dark-color: #497a7f;
  --root-primary-alpha-color: #5cbfbcaa;
  --root-primary-dark-alpha-color: #497a7f33;
  --root-secondary-color: #a19b8f;
  --root-secondary-alpha-color: #a19b8f33;
  --root-tertiary-color: #dd8181;
  --root-tertiary-alpha-color: #dd818133;
  --root-tertiary-dark-color: #d35f5f;
  --root-tertiary-dark-alpha-color: #d35f5f33;
  --root-tertiary-light-color: #f8f4eb;
  --root-warning-color: orange;
  --root-light-color: #7ed0ce83;
  --root-light-grey: #dee2e6;
  --root-card-bg: #f2f4f8;
  --root-grey: #81858d;
  --root-dark-grey: $dark-grey;
  --root-primary-font: 'ElanFont';
  --root-login-bg: ;
  --root-color-rose: #dd8181;

  --root-color-idle: rgb(127, 140, 141);
  --root-color-active: rgb(211, 84, 0);
  --root-color-done: var(--root-primary-color);

  --progressbar-background: #e6e6e6;
  --progressbar-bar-background: var(--root-primary-color);
}
